.career-page {
    padding: 80px 50px;
}

.career-page .career-page-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.career-page-tabs .btn {
    border: none;
    margin-top: 30px;
    border-radius: 0px;
    padding: 10px 30px;
    color: #fff;
    background-color: #23BBB7;
    font-weight: 600;
    border: 1px solid black;
    outline: none;

}

.career-page-tabs .btn:hover {
    background-color: #7141b1;
}

@media(max-width:425px) {
    .career-page .career-page-tabs {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;

    }

    .career-page-tabs .btn {
        justify-content: center;
    }
}

.contract-tab-page,
.permanent-tab-page {
    padding: 50px 0px;
}

.contract-tab-page #col,
.permanent-tab-page #col {
    background-color: #fff;
    padding: 30px;
    border-radius: 2px 4px 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    margin: 20px;

}


.contract-tab-page #col:hover,
.permanent-tab-page #col:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contract-tab-page .btn, 
.permanent-tab-page .btn{
    border: none;
    margin-top: 30px;
    border-radius: 0px;
    padding: 10px 30px;
    color: #fff;
    background-color: #23BBB7;
    font-weight: 600;
    outline: none;
}

.contract-tab-page .btn:hover, 
.permanent-tab-page .btn:hover{
    background-color: #23BBB7;
}
